

#1.   ADAM WAFII BIN AZUAR (A20EC0003)

#2.   MUHAMMAD DINIE HAZIM BIN AZALI (A20EC0084)

# Handle Large Data (CSV): 1000000 Sales Records

[Dataset: 1000000 Sales Records](https://github.com/drshahizan/dataset/raw/main/1000000%20Sales%20Records.rar). 

[Youtube: Tutorial](https://youtu.be/bd_1T2JCr4M)

Instruction:
* Please extract the file *1000000 Sales Records.rar*.
* Please enter the file location: *1000000 Sales Records.csv* in code

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('1000000 Sales Records.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995.0,7/28/2012,1593.0,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514.0,10/19/2013,4611.0,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585.0,6/4/2015,360.0,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536.0,7/2/2017,562.0,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194.0,12/4/2016,3973.0,47.45,31.79,188518.85,126301.67,62217.18

In [ ]:
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 14 entries, Region to Total Profit
dtypes: float64(5), int64(2), object(7)
memory usage: 502.1 KB

## nrows

In [ ]:
df = pd.read_csv('1000000 Sales Records.csv', nrows=1000)
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 14 entries, Region to Total Profit
dtypes: float64(5), int64(2), object(7)
memory usage: 502.1 KB

In [ ]:
cols = df.columns.values
cols

array(['Region', 'Country', 'Item Type', 'Sales Channel',
       'Order Priority', 'Order Date', 'Order ID', 'Ship Date',
       'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue',
       'Total Cost', 'Total Profit'], dtype=object)

In [ ]:
req_cols = ['Region', 'Country', 'Item Type', 'Sales Channel',
       'Order Priority',
       'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue',
       'Total Cost', 'Total Profit']

In [ ]:
df = pd.read_csv('1000000 Sales Records.csv', usecols=req_cols)
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,1593.0,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,4611.0,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,360.0,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,562.0,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,3973.0,47.45,31.79,188518.85,126301.67,62217.18

In [ ]:
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168086 entries, 0 to 168085
Columns: 11 entries, Region to Total Profit
dtypes: float64(6), object(5)
memory usage: 59.9 MB

## Convert Datatype of the Columns

In [ ]:
df.describe()

,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,168085.000000,168085.000000,168085.000000,1.680850e+05,1.680850e+05,1.680850e+05
mean,4993.941869,266.161904,187.671849,1.328533e+06,9.367654e+05,3.917681e+05
std,2885.636641,217.080797,175.718574,1.466898e+06,1.147865e+06,3.781906e+05
min,1.000000,9.330000,6.920000,2.799000e+01,2.076000e+01,7.230000e+00
25%,2488.000000,81.730000,56.670000,2.779242e+05,1.622113e+05,9.535330e+04
50%,4992.000000,154.060000,97.440000,7.876180e+05,4.688542e+05,2.815384e+05
75%,7497.000000,437.200000,364.690000,1.818346e+06,1.199636e+06,5.646784e+05
max,10000.000000,668.270000,524.960000,6.682700e+06,5.249600e+06,1.738700e+06

In [ ]:
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col] = df[col].astype('float16')
    if df[col].dtype == 'int64':
        df[col] = df[col].astype('int16')
    if df[col].dtype == 'object':
        df[col] = df[col].astype('category')

In [ ]:
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168086 entries, 0 to 168085
Columns: 11 entries, Region to Total Profit
dtypes: category(5), float16(6)
memory usage: 2.9 MB

In [ ]:
df = pd.read_csv('1000000 Sales Records.csv', usecols=req_cols, dtype={'Region': 'category', 'Units Sold': 'int16'})
df.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268888 entries, 0 to 268887
Columns: 11 entries, Region to Total Profit
dtypes: category(1), float64(5), int16(1), object(4)
memory usage: 75.9 MB

## Load Dataset Faster using chunks

In [ ]:
%%time
df = pd.read_csv('1000000 Sales Records.csv')
len(df)

CPU times: user 349 ms, sys: 16.4 ms, total: 365 ms
Wall time: 366 ms

277267

In [ ]:
%%time
chunks = pd.read_csv('1000000 Sales Records.csv', iterator=True, chunksize=1000)
# df = pd.concat(chunks, ignore_index=True)
# df.head()

CPU times: user 2.75 ms, sys: 73 µs, total: 2.83 ms
Wall time: 5.56 ms

In [ ]:
length = 0
for chunk in chunks:
    length += len(chunk)
length

285684